

#school ul.lsUlStyle{
    list-style-type: none;
    padding:0px 10px;
    margin:0px;
    background-color:white;
}
#school ul.lsUlStyle li{
    height:40px;
    line-height: 40px;
    border-bottom: 2px solid #f6f6f6;

}
#school ul.lsUlStyle li a{
    color:#858585;
    width:100%;
    display: block;
}
#school ul.lsUlStyle li a:hover{
    color:#8dc21f;
    text-decoration: none;
}

#school ul.lsUlStyle li a.fontColor{
    color:#8dc21f;
    text-decoration: none;
}

